# Render manifest to create backend service for ConnectGlobal
# See https://render.com/docs/deploy-configuration for schema
services:
  - type: web
    name: connectglobal-backend
    env: python
    region: oregon
    repo: https://github.com/lukegordos/ConnectGlobal
    branch: main
    root: backend
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -k uvicorn.workers.UvicornWorker app:app --bind 0.0.0.0:$PORT
    autoDeploy: true
    plan: free
